canvas {
    position: fixed; top: 0; left: 0; z-index: 1; 
} 

#content {
    position: relative; 
    z-index: 2; 
    min-height: 90vh;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background: blue;
    color: white;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

h1 a:link {
    color: white;
    z-index: 5;
}

h1 a:visited {
    color: white;
}

h1 a:hover + .meImg {
    display: block;
}

p {
    font-size: 14px;
}

.meImg{
    display: none;
    position: fixed;
    top: 5vh;
    right: 20;
    z-index: -1;
}

.meUhImg {
    display: block;
    max-width: 90vw;
    max-height: 90vh;
}

.HeadInfo {
    max-width: 510px;
    margin-bottom: 5vh;
}

.HomeLinks {
    padding-bottom: 200;
}

.HomeLinks a:link {
    display: inline-block;
    color: white;
    width: auto;
    font-size: 23px;
    margin-bottom: 20px;
}

.HomeLinks a:visited {
    color: white;
}

.HomeLinks a:hover {
    color: yellow;
}

a.coolLink:hover .coolImg {
    display: block;
}

.coolImg {
    display: none;
    position: fixed;
    z-index: -1;
    bottom: 10vh;
    right: 10vw;
}

a.neatLink:hover .neatImg {
    display: block;
}

.neatImg {
    display: none;
    position: fixed;
    z-index: -1;
    top: 10vh;
    left: 10vw;
}

a.thingLink:hover .thingImg {
    display: block;
}

.thingImg {
    display: none;
    position: fixed;
    z-index: -1;
    top: 30vh;
    right: 30vw;
}

a.niceLink:hover .niceImg {
    display: block;
}

.niceImg {
    display: none;
    position: fixed;
    z-index: -1;
    bottom: 5vh;
    left: 10vw;
}

a.prettyLink:hover .prettyImg {
    display: block;
}

.prettyImg {
    display: none;
    position: fixed;
    z-index: -1;
    top: 10vh;
    right: 5vw;
}

a.snazzyLink:hover .snazzyImg {
    display: block;
}

.snazzyImg {
    display: none;
    position: fixed;
    z-index: -1;
    bottom: 30vh;
    left: 40vw;
}

.linkImg {
    display: block;
    max-width: 40vw;
    max-height: 40vh;
}

.bottomSheet {
    position: absolute;
    width: auto;
    bottom: 0px;
}

.bottomSheet a:link {
    display: inline-block;
    color: white;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.bottomSheet a:visited {
    color: white;
}

.bottomSheet a:hover {
    color: chartreuse;
}


/* Project page stuff */


.backButton {
    width: 150;
    position: fixed;
    top: 20px;
    right: 5vw;
    text-align: right;
    font-size: 14px;
    z-index: 99999;
}

.backButton a:link {
    color: white;
}

.backButton a:visited {
    color: white;
}

.projectContent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-bottom: 5vh;
}

.projectDesc01 {
    width: 400;
    height: auto;
}

.contentImg01 {
    width: auto;
    height: auto;
    max-height: 400;
    max-width: 100%;
    object-fit: contain;
    align-self: flex-start;
}

.contentImg02 {
    width: auto;
    height: auto;
    max-height: 400;
    max-width: 100%;
    object-fit: contain;
    align-self: flex-start;
    margin-right: 20;
}

.contentImg01:hover {
    position: relative;
    width: 90vw;
    height: auto;
    max-height: none;
    margin-left: 0;
}

.contentImg02:hover {
    position: relative;
    width: 90vw;
    max-height: none;
    margin-right: 0;
}